<main>
    <h2>Welcome to my Portfolio!</h2>
    <p>
        You can see here a short list of the projects I worked on so far in
        <strong>SPICED-Academy</strong>
    </p>
</main>
<section>
    {{#each projects}}
        <article class="card">
            <img src="{{img_path}}" alt="{{title}}" />
            <a href="{{directory}}"><li>{{title}}</li></a>
        </article>
    {{/each}}

</section>